# Dependencies
node_modules/
package-lock.json

# Environment & Credentials
.env
*.pem
google-services.json
service-account*.json

# Local secrets folder (do NOT commit)
secrets/

# Logs & Temp
*.log
npm-debug.log*
uploads/
tmp/
.vercel/
.idea/
.vscode/
.DS_Store
